div.jumbotron {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCxzk0XX3eoVXtktWbSrKP7DSH6YFQqk5nTGRr2XiSyIq-8Ep9WA&s)

}

.white{
    color:rgb(255, 240, 242);
}

/* a{
    color: floralwhite;
} */

/* a{
    color: blue;
} */

